@font-face {
    font-family: 'MissKindergarten';
    src: url(KGMissKindergarten.ttf);
}

body{
    background-color: #EDF1D6;
    font-family: "MissKindergarten";
}

.navfootBackground{
    background-color: #40513B !important;
}
.navfootBackground p, a{
    color: #EDF1D6 !important;
}
.nav-link:hover{
    color: #609966 !important;
}
.active{
    color: white !important;
}
.dropdown-menu{
    background-color: #40513B !important;
}
.dropdown-item:hover{
    background-color: #609966;
}


.catalogTitle{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #40513B;
    text-shadow: 1px 1px #51443b;
}
.catalogInfo{
    text-align: center;
    color: #40513B;
    width: 80%;
    margin: 0 auto;
}
.catalogDiv{
    margin: 20px;
    animation: scaleCardDown 0.5s ease-out 0s 1 normal forwards;
}
.catalogDiv:hover{
    animation: scaleCardUp 0.5s ease-out 0s 1 normal forwards;
}
@keyframes scaleCardUp {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}
@keyframes scaleCardDown {
	0% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
.catalogImgText{
    color: #EDF1D6;
    background-color: #51443ba1;
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
}
.emptyButton{
    border: none;
    background: none;
    color: #EDF1D6;
}
.modalImg{
    width: 50%;
    float: right;
    margin-left: 5px;
    border-radius: 5%;
}
/*Fakatalógus Képek*/
#platan{
    background-image: url(képek/Platán.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#ujjasjuhar{
    background-image: url(képek/Ujjas\ Juhar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#ciprus{
    background-image: url(képek/Európai\ Ciprus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#boroka{
    background-image: url(képek/Közönséges\ Boróka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#pafrany{
    background-image: url(képek/Páfrány.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#diofa{
    background-image: url(képek/Diófa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.title{
    color: rgb(138, 105, 44);
    width: fit-content;
}
.titlediv{
    width: 100%;
    height: 250px;
    text-align: center;
    background: url(https://cdn.pixabay.com/photo/2017/04/09/09/56/avenue-2215317_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-top: 50px;
}
.titleheader{
    margin: auto;
    margin-bottom: 5px;
}
.titletop{
    font-size: 75px;
}
.Meowalogue{
    background-color: #9DC08B;
}
.Catpages{
    float: inline-start;
    margin-bottom: 60px;
    height: 400px;
    text-align: center;
    margin-top: 50px;
    border-bottom: 5px solid #40513B;
    border-top: 5px solid #40513B;
}
.pageA{
    background-image: url(https://cdn.pixabay.com/photo/2014/12/22/00/07/tree-576847_640.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-color: #9DC08B;
    background-blend-mode:color-burn;
}
.pageA:hover{
    background-blend-mode: normal;
}
.pageB{
    background-image: url(https://cdn.pixabay.com/photo/2021/01/22/09/09/flowers-5939515_640.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-color: #9DC08B;
    background-blend-mode:color-burn;
}
.pageB:hover{
    background-blend-mode:normal;
}
.pageC{
    background-image: url(https://cdn.pixabay.com/photo/2014/12/21/23/57/mushroom-576463_640.png);
    background-repeat: no-repeat;
    background-color: #9DC08B;
    background-blend-mode:color-burn;
    background-size: contain;
    background-position-x: center;
}
.pageC:hover{
    background-blend-mode: normal;
}
.randomtext{
    margin: 33px auto;
    width: 66%;
    text-align: center;
    color: #40513B;
}
.Meowtext{
    color: #EDF1D6;
    height: 50px;
    font-size: 40px;
    background-color: #51443ba1;
    margin-top: 175px;
}